@page "/"

<button @onclick="TogglePaymentButton">
    Toggle Payment Button
</button>

@if (showPaymentButton)
{
    <PayPalButtons/>
}

@code {

    private bool showPaymentButton;

    private async Task TogglePaymentButton()
    {
        showPaymentButton = !showPaymentButton;
    }

}